<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="extnet" type="Ext.Net.GlobalConfig" requirePermission="false"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SGSI.Settings.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.web>
    <httpRuntime requestValidationMode="2.0"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Telerik.ReportViewer.WebForms, Version=10.2.16.1025, Culture=neutral, PublicKeyToken=A9D7983DFCC261BE"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="Telerik.ReportViewer.Html5.WebForms, Version=10.2.16.1025, Culture=neutral, PublicKeyToken=A9D7983DFCC261BE"/>
        <add assembly="Newtonsoft.Json, Version=4.5.0.0, Culture=neutral, PublicKeyToken=30AD4FE6B2A6AEED"/>
      </assemblies>
    </compilation>
    <!-- This httpHandlers config only required if using IIS6 (or lower) -->
    <!--
    <httpHandlers>
      <add path="*/ext.axd" verb="*" type="Ext.Net.ResourceHandler" validate="false" />
    </httpHandlers>
    -->
    <!-- This httpModules config only required if using IIS6 (or lower) -->
    <!--
    <httpModules>
      <add name="DirectRequestModule" type="Ext.Net.DirectRequestModule, Ext.Net" />
    </httpModules>
    -->
    <pages>
      <controls>
        <add assembly="Ext.Net" namespace="Ext.Net" tagPrefix="ext"/>
      </controls>
      <namespaces>
        <add namespace="Ext.Net"/>
        <add namespace="Rejuicer"/>
      </namespaces>
    </pages>
    <httpModules>
      <add name="Rejuicer" type="Rejuicer.RejuicerModule, Rejuicer"/>
      <add name="Telerik.ReportViewer.axd_*" path="Telerik.ReportViewer.axd" verb="*" type="Telerik.ReportViewer.WebForms.HttpHandler, Telerik.ReportViewer.WebForms, Version=10.2.16.1025, Culture=neutral, PublicKeyToken=a9d7983dfcc261be"/>
    </httpModules>
    <httpHandlers>
      <!-- This is the primary handler used to fetch most of the needed resources -->
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false"/>
      <!-- Only needed for RadSpell and RadEditor's spell checking -->
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false"/>
      <!-- Only needed for controls that have complex dialogs like RadEditor, RadImageEditor -->
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false"/>
      <!-- Only needed if RadAsyncUpload, RadProgressArea/RadProgressManager or the obsolete RadUpload are used -->
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false"/>
      <!-- Only needed if the obsolete RadChart is used -->
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false"/>
    </httpHandlers>
  </system.web>
  <!--<dataConfiguration defaultDatabase="TccConnectionString"></dataConfiguration>-->
  <connectionStrings>
    <add name="TccConnectionString" connectionString="Data Source=WINDOWS;Initial Catalog=Tcc;Persist Security Info=True;User ID=paulo;Password=Larissa94" providerName="System.Data.SqlClient"/>
    <add name="Tcc" connectionString="Data Source=WINDOWS;Initial Catalog=Tcc;Persist Security Info=True;User ID=paulo;Password=Larissa94" providerName="System.Data.SqlClient"/>
    <add name="Tcc1" connectionString="Data Source=WINDOWS;Initial Catalog=Tcc;User ID=paulo;Password=Larissa94" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--<connectionStrings>
    <add name="TccConnectionString" connectionString="Data Source=DK010\SQLEXPRESS;Initial Catalog=Tcc;Persist Security Info=True;User ID=paulo;Password=Larissa94" providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <!--data source de casa
  Data Source=WINDOWS;Initial Catalog=Tcc;Persist Security Info=True;User ID=paulo;Password=Larissa94-->
  <!--Data Source Trabalho
  Data Source=DK010\SQLEXPRESS;Initial Catalog=Tcc;Persist Security Info=True;User ID=paulo;Password=Larissa94-->
  <extnet theme="Triton" licenseKey="** Ext.NET LICENSE KEY HERE **" initScriptMode="Linked"/>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      <add name="Telerik.ReportViewer.axd_*" path="Telerik.ReportViewer.axd" verb="*" type="Telerik.ReportViewer.WebForms.HttpHandler, Telerik.ReportViewer.WebForms, Version=10.2.16.1025, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" preCondition="integratedMode"/>
      <add name="DirectRequestHandler" verb="*" path="*/ext.axd" preCondition="integratedMode" type="Ext.Net.ResourceHandler"/>
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="DirectRequestModule" preCondition="managedHandler" type="Ext.Net.DirectRequestModule, Ext.Net"/>
      <add name="Rejuicer" type="Rejuicer.RejuicerModule, Rejuicer"/>
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Common" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.505.0" newVersion="5.0.505.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <SGSI.Settings.Settings>
      <setting name="InstanceDB" serializeAs="String">
        <value>TccConnectionString</value>
      </setting>
    </SGSI.Settings.Settings>
  </applicationSettings>
</configuration>